{% extends "base.html" %}
{% load static %}
{% block title %}
    My Blog
{%endblock %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}"/>
    <link rel="stylesheet" href="{% static "blog/index.css"%}"/>
{% endblock %}
{% block content %}
<section id="welcome">
  <header>
    <img src="{% static "blog/images/Farzad.png" %}" alt="Farzad - The Author Of This
    Portofolio" />
    <h2>Farzad'S BLOG</h2>
  </header>
  <p>Hi, I am Farzad and This is My Personal Website!</p>
</section>

<section id="latest-posts">
  <h2>My Latest Thoughts</h2>

  <ul>
    {% for post in posts %} {% include "blog/includes/post.html" %} {% endfor %}
  </ul>
</section>

<section id="about">
  <h2>Contact ME</h2>
  <p>
    GitHub:<h3>@TheyCalledMeMrGlass</h3>
    Virgool:<h3>@FarzadShojaei</h3>
    Email:<h3>@Shojaeifarzad79@yahoo.com</h3>
    Twitter:<h3>@MrGlassIsHere</h3>
  </p>
  <p>
    My goal is to keep on growing as a developer - and if I could help you do
    the same, I'd be very happy!
  </p>
</section>
{% endblock %}
